* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header-container {
    color: white;
    background-color: #C380F8;
    padding: 20px 0;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    display: flex;
    justify-content: center;
  }
  .art-container {
    display: flex;
    background-color: #D6EAF8 ;
    padding: 20px 20px;
    justify-content: center;
    flex-wrap: wrap
}
.artPieces {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.artPieces img {
    display: flex;
    width: 20%;
    justify-content: space-around;
}